// L.65 : will use this class inside of header component so we need to reference it in the header component as className attribute remember we can't use the class attribute in react because it's a reserved word in javascript

// in scss we can using nested styles to make the code more readable and easy to manage like h1 note but it's not a good practice to use it too much because it will make the code more complex and hard to manage so we we use class selector (BEM) instead of nested styles
.header {
  background: $off-black;
  color: white;
  margin-bottom: $m-size;
  padding: $m-size 0;

  // h1{
  // 	color:red;
  // }
}

//BEM : block element modifier
// we will treat it as a class selector and we will use it in the header component as className attribute in header h1 jsx file
.header__title {
  font-size: $L_size;
  margin: 0;
}

.header__subtitle {
  color: $off-white;
  font-size: $m-size;
  font-weight: 500;
  margin: 0;
}

//L.72
// we will use media queries to make the app suitable for phones front end so we will use the meta scope in index file to make the app width suitable with each phone

@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $xl-size;
  }
}
