// L.71 : here we want to override the classes built in react modal already so the names are mandatory you must watch the video to know how we get them
// when I use > is to select the direct child of the parent so i want the div inside the react modal portal
.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: $light-blue;
  color: white;
  max-width: 30rem;
  outline: none;
  padding: $L-size;
  text-align: center;
}

.modal__title {
  margin: 0 0 $m_size 0;
}

.modal__body {
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0 $L_size 0;
  word-break: break-all; // to be sure that the text will not overflow the container so it to long it will break it
}
