//L.70
.option {
  display: flex;
  justify-content: space-between;
  padding: $L-size $m-size; // first is for the top and bottom and the second is for the left and right
  border-bottom: 1px solid lighten($light-blue, 10%);
}

.option__text {
  font-size: 2rem;
  color: white;
  font-weight: 500;
  margin: 0;
  word-break: break-all;
}
