//L.69 widget is the piece that the option list live on it

// widget container

.widget {
  background-color: $light-blue;
  margin-bottom: $xl-size;
}

.widget__message {
  color: $off-white;
  margin: 0;
  padding: $L_size;
  text-align: center;
  border-bottom: 1px solid lighten($light-blue, 10%);
}

//widget header

.widget-header {
  background-color: $blue;
  color: $off-white;
  padding: $m-size;
  display: flex; // to make the content show left to write not top to bottom
  justify-content: space-between; // to make a space between the two elements in one line
}
// element selector
.widget-header__title {
  margin: 0;
}
