// L 67 : we will use it define a theme for our app so wil define variables that we will use in our app

//** Colors


//**  Spacing

//small size
$s-size: 1.2rem;
//medium size :
$m-size: 1.6rem;
//large size :
$L_size: 3.2rem;
//x-large size :
$xl-size: 4.8rem;

//L.72

$desktop-breakpoint: 45rem;
